body {
	font-family: 'Baloo'; 
}

a {
	text-decoration: none;
	color: #222222;
}

a:hover {
	text-decoration: underline;
}


.container {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	background-image: linear-gradient(to right, #31CCEB, #03839D);
	padding: 1.5em 2em;
}

header h1 {
	margin-top: 0;
	font-size: 1.6em;
}

.header-top {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	color: white;
	padding-bottom: 50px;
}

.header-top a {
	color: inherit;
}

.music {
	display: flex;
	justify-content: center;
}

nav {
	display: flex;
	justify-content: center;
}

nav > a {
	padding-left: 30px;
	padding-right: 30px; 
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.8);
}




/* Flexible iFrame */

.flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 10px;
  height: auto;
  overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
}

.wrapper {
  background-color: teal;
}
